@use "./styles/partials/global" as *;

* {
  border: 1px dotted green;
  margin: 0;
  padding: 0;
}

// .select {
//   &__container {
//     display: flex;
//     flex-direction: column;
//   }
//   &__roster {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//   }
//   &__slot {
//     display: flex;
//     flex-direction: column;
//     width: 5rem;
//   }
// }
